#result {
   width: 50%;
   height: auto;
   margin: 4rem auto;
}

/* Table T-head */
#result thead tr {
    color: rgb(43,153,109);
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr) ;
    grid-template-rows: auto;
}

/* Table T-body */
#result tbody tr {
    color: white;
    display: grid;
    grid-template-columns: repeat(5, 1fr) ;
    grid-template-rows: auto;
    text-align: center;
    margin-top: 1rem; 
}

